.places {
   display: flex;
   flex-direction: column;
   gap: 62px;
   width: calc(100% + 32px);
}

@media screen and (min-width: 768px) {
   .places {
      gap: 73px;
      width: 100%;
   }
}

@media screen and (min-width: 1024px) {
   .places {
      gap: 80px;
   }
}