.main {
   min-width: 320px;
   max-width: 1280px;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 64px;
   padding: 48px 16px 0;
   box-sizing: border-box;
}

@media screen and (min-width: 768px) {
   .main {
      gap: 88px;
      padding: 48px 24px 0;
   }
}

@media screen and (min-width: 1024px) {
   .main {
      gap: 92px;
      padding: 48px 48px 0;
   }
}

@media screen and (min-width: 1280px) {
   .main {
      gap: 92px;
      padding: 56px 148px 0;
   }
}